$colors: (
  plain-white: #ffffff,
  obscure-black: #333333,
  header-black: #182333,
  blackish-teal: #394e5d,
  nav-shadow: #0000001d,
  active-blue: #4285bc,
  cream-background: #f5f8fa,
  border-blue: #3d86bf,
  shadow-hue: #394ed536
);
