@import '../../styles/blog-snippet.scss';

.bloglist {
  padding: 8rem 0 5rem 0;
  min-height: calc(100vh - 19rem);

  &__welcome {
    margin: 3rem 0;
    h1 {
      font-size: 3.8rem;
      text-align: center;
      color: map-get($colors, header-black);
    }
  }

  .blog-cards {
    cursor: pointer;

    &__content {
      h5 {
        margin: 1.5rem 0;
        height: unset;
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .link-div {
      a {
        font-size: 1.6rem;
        color: map-get($colors, link-pink);
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .bloglist {
    padding: 8rem;
    min-height: calc(100vh - 22rem);
  }
}

@media screen and (min-width: 645px) {
  .bloglist {
    padding: 8rem 0;

    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
    }

    .blog-cards {
      margin: unset;
      &__content {
        h5 {
          height: 5.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1129px) {
  .bloglist {
    padding: 8rem 0;

    &__items {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 2rem;
    }

    .blog-cards {
      height: unset;
      margin: unset;

      &__content {
        h5 {
          height: 5.5rem;
        }
      }
    }
  }
}
